.logo {
  height: 100px;
  width: 100px;
}

.btn-pick-user-type {
    background-color: rgb(219, 115, 30);
    font-weight: 600;
    width: 200px;
}


/* Login */
.frm-login {
  max-width: 400px;
}

.login-input-container {
  position: relative;
}

.login-input-container label {
  position: absolute;
  font-size: 12px;
  top: 5px;
  left: 10px;
  font-weight: 600;
}

.login-input-container input {
  height: 50px;
  padding-top: 20px;
  font-size: 15px;
}