.main-container {
  position: absolute;
  top: 80px;
  left: 260px;
  width: calc(100% - 270px);
}

.pagetitle .breadcrumb li a {
  color: rgb(117, 117, 117);
  font-weight: 500;
  text-decoration: none;
}

/* links */
.txt-folder-link {
  text-decoration: none;
  font-weight: 600;
}

.txt-folder-link:hover {
  color: rgb(87, 87, 87) !important;
}

/* File View */

.file-main-container {
  height: 87vh;
  overflow-y: auto;
}

.file-date-container {
  margin-left: 20px;
}

.hightlight-color {
  color: rgb(219, 115, 30);
}
