.main-container {
  position: absolute;
  top: 80px;
  left: 260px;
  width: calc(100% - 270px);
}

.pagetitle .breadcrumb li a {
  color: black;
  text-decoration: none;
}

/* links */
.txt-folder-link {
  text-decoration: none;
  font-weight: 600;
}

.txt-folder-link:hover {
  color: rgb(87, 87, 87) !important;
}
